* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  padding-top: 15px;
  box-shadow: 0px 5px 5px lightgrey;
  justify-content: center;
  align-items: center;
}
.header .header__logo {
  width: 197px;
  height: 36px;
  padding: 0px 19px 0px 16px;
  flex-shrink: 0;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 5px;
  background-color: #eaeaea;
}
nav .nav__localisation {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.recherche {
  padding-bottom: 40px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}
.recherche .recherche__titre {
  margin-bottom: -8px;
  width: 80%;
  height: 68px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.recherche .recherche__p {
  height: 46px;
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}
.recherche .recherche__button {
  font-weight: 500;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  font-size: large;
  padding: 15px;
  border-radius: 50px;
  border: none;
  margin-bottom: 7vw;
  box-shadow: 4px 4px 2px lightgrey;
  max-width: 250px;
  align-self: center;
  transition: 250ms;
  cursor: pointer;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement .fonctionnement__choix {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 2px lightgrey;
  border-radius: 20px 20px;
  text-align: center;
  height: 4rem;
  line-height: 2rem;
  white-space: nowrap;
}
.fonctionnement .fonctionnement__numtxt {
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: relative;
  right: 28px;
  padding: 2px 10px;
}
.fonctionnement .fonctionnement__num1 {
  position: relative;
  bottom: 17px;
}
.fonctionnement .fonctionnement__txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  gap: 15px;
  padding-top: 80px;
  background-color: #f6f6f6;
}
.restaurants .restaurants__title {
  margin: 0;
  padding-left: 15px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.restaurants .restaurants__card {
  margin: 0px 15px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants__cardimg {
  position: relative;
}
.restaurants .restaurants__cardimg__newcard {
  font-weight: bold;
  background-color: #99e2d0;
  color: #1a8a68;
  width: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  right: 1em;
  height: 29px;
  top: 1em;
  position: absolute;
  line-height: 0.7em;
}
.restaurants .restaurants__img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 231px;
}
.restaurants .restaurants__cardtcontent {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 15px;
}
.restaurants .restaurants__cardtxt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants .restaurants__subtitle {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.restaurants .restaurants__p {
  margin: 0;
  color: #000;
  font-size: 17px;
  font-weight: 300;
}
.restaurants .restaurants__cardlike {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: #353535;
  margin-top: 60px;
}
footer .footer__title {
  margin: 0;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer__img {
  display: flex;
  color: white;
  width: 139px;
  height: 27px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
}
footer .footer__link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer__linkicon {
  gap: 5px;
}
footer .footer__link__a {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
