nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 5px;
    background-color: $color-grey_nav;
    .nav__localisation {
      font-family: "Roboto";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }